header {
  border-bottom: 1px solid #eee;
  font-size: 1.4rem;

  .logo {
    height: 50px;
  }

  .nav-item {
    float: left;
    display: block;
    margin-right: -1px;
    text-decoration: none;
    padding: 0 20px;
    height: 62px;
    color: #444;
    line-height: 62px;
    transition: all 0.3s ease-in;
    cursor: pointer;

    &:first-child {
      padding-left: 0;
    }
  }
}

header .search {
  justify-content: center;
  padding: 3em 8em 0;
  width: 100%;
  color: #1b98e0;
  top: -100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 99999;
  position: fixed;
  transition: all 0.3s;
  height: 100%;
  font-size: 2.8rem;

  .matchResults {
    text-align: left;
    font-size: 0.65em;
  }

  .matchedArticle {
    width: 50%;
    margin: 0;
    padding: 0 1.25em;
  }

  .notFound {
    font-size: 0.65em;
    color: #888;
    margin-top: 2em;
  }
}

header .search.active {
  top: 0;
}

#search {
  outline: 0;
  box-shadow: none !important;
  color: inherit;
  background-color: transparent;
  display: block;
  border: 0;
  text-align: center;
  width: 100%;

  &::-webkit-input-placeholder {
    color: inherit;
  }
}

header .closePanel {
  line-height: 100px;
  width: 100px;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  opacity: 0.5;
  font-size: 1.5em;
  transition: opacity 0.3s;
  /* will-change: transform; */
  transform: translateZ(0);
}

header .closePanel:hover {
  opacity: 1;
}

header .closePanel::before {
  content: "\2715";
}
